body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #b798d5;
}

header {
    background: #222;
    color: white;
    text-align: center;
    padding: 40px;
}
header h1 {
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid white;
    width: 0;
    animation: digitar 3s steps(20) forwards;
}

@keyframes digitar {
    to {
        width: 100%;
    }
}
section {
    padding: 30px;
    max-width: 800px;
    margin: auto;
}

h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

ul {
    list-style: square;
}

.card {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}
body {
    animation: aparecer 1s ease-in;
}

@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}